/* TELEPHONE */
@media only screen and (min-width: 320px) {
  #banniere {
    width: 19.7em;
  }
  textarea {
    height: 10em;
    width: 19.8em;
  }
}

@media only screen and (min-width: 425px) {
  #banniere {
    width: 26.3em;
  }
  textarea {
    height: 10em;
    width: 27em;
  }
}


/* TABLETTE */
@media only screen and (min-width: 768px) {
  #banniere {
    width: 47.7em;
  }
}

@media only screen and (orientation: landscape) and (min-width: 787px) {
  #banniere {
    width: 48.8em;
  }
  textarea {
    height: 10em;
    width: 27em;
  }
}

/* PC PORTABLE */
@media only screen and (min-width: 1024px) {
  #banniere {
    width: 63.6em;
  }
}

/* PC BUREAU  */
@media only screen and (min-width: 1440px) {
  #banniere {
    width: 89.6em;
  }
}