body {
    background: radial-gradient(circle at top, #CCDAE0, #EDF2F4);
}

#divbanniere {
    display: flex;
    justify-content: center;
}

#banniere {
    margin: 0 0 30px 0;
    width: 2000px;
}

ul:not(#notme) {
    display: flex;
    justify-content: center;
}

li {
    margin: 20px 100px 20px 0;
}

h1 {
    font-size: 50px;
    color: #EF233C;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

h3 {
    margin: 0 0 20px 10px;
    color: #2B2D42;
    font-weight: bold;
    text-decoration: underline dotted;
    font-size: 20px;
}

label {
    margin: 0 5px 0 0px;
}

.thatimg {
    display: flex;
    justify-content: center;
}

img {
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
    border: #8D99AE 2px solid;
}

label + p,
textarea {
    margin: 10px 0 5px -5px;
}

input {
    margin-bottom: 10px;
}

.Tp2 {
    margin-top: 50px;
}

article {
    border: black 1px solid;
    margin: 0 5px 10px 5px;
}

a:visited {
    color: grey;
}

a {
    color: #D90429;
}

a:hover {
    color: #2B2D42;
}

fieldset {
    padding: 20px;
    border: black 2px solid;
    width: 500px;
    margin-left: 5px;
}

.red {
    color: red;
}

footer {
    text-align: end;
}